h1 {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}

.hidden-form {
    display: none;
}

.unhidden-form {
    display: block;
}

#library-display {
    margin: 20px auto;
    display: block;
}

.book-container {
    display: block;
    margin: 6px 4px;
}

.book-container p {
    display: inline;
    margin: 0px 4px;
}

.book-container button {
    display: inline;
    margin: 0px 4px;
}